<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'cloud/css/style.css' %}">
    {% block stylesheet %}{% endblock %}
    <link rel="icon" href="{% static 'cloud/favicon.ico' %}" type="image/x-icon">
  </head>
  <body>
    <header class="header">
      {% block header %}
        {% include 'includes/header.html' %}
      {% endblock %}
    </header>
    <main>
      {% block content %}Main{% endblock %}
    </main>
    <footer class="footer">
      {% block footer %}
        {% include 'includes/footer.html' %}
      {% endblock %}
    </footer>
    <script src="{% static 'cloud/js/script.js' %}"></script>
    {% block script %}{% endblock %}
  </body>
</html>