{% extends "base.html" %}
{% load static %}

{% block title %}Main{% endblock %}

{% block content %}
    {% include 'includes/sidenav.html' %}
    {% if status == 200 %}
        <div id="cloud_view_content" class="cloud_content">
            <h2 class="title-page">
                Cloud view
            </h2>

            {% if not refreshing %}
                {% if failed %}
                    <div class="alert alert-danger" role="alert">
                        WARNING. Refresh failed. Try to refresh again. (Started at {{ started_at }})
                    </div>
                {% elif done %}
                    <div class="alert alert-success" role="alert">
                        SUCCESS. Refresh completed! (Started at {{ started_at }})
                    </div>
                {% endif %}

                <button class="w-100 btn btn-lg btn-primary" id="refresh-button">REFRESH</button>
            {% else %}
                <div class="alert alert-info" style="display: flex" role="alert">
                    Refreshing...
                    <div class="loader"></div>
                </div>

            {% endif %}
            {% include 'includes/cloud_view_content.html' %}
        </div>
    {% else %}
        <h2 style="color: #dc3545; margin: 0">{{ status }}. {{ response }}</h2>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'cloud/js/aws_data_refresh.js' %}"></script>
    <script src="{% static 'cloud/js/cloud_view_refresh.js' %}"></script>
{% endblock %}