{% extends "base.html" %}
{% load static %}

{% block title %}Main{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'cloud/css/aws_form.css' %}">
{% endblock %}

{% block content %}
    {% include 'includes/sidenav.html' %}
    {% if status == 204 %}
        {% include 'includes/deployer_form.html' %}
    {% elif status == 200 %}
        <h2 style="margin: 0">Deployment done successfully!</h2>
        <a href="{{ instance_url }}">Instance url: {{ instance_url }}</a>
    {% else %}
        <h2 style="color: #dc3545; margin: 0">{{ status }}. {{ error_msg }}</h2>
    {% endif %}
{% endblock %}
