{% extends "base.html" %}
{% load rest_framework %}
{% load static %}

{% block title %}Deploy{% endblock %}


{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'cloud/css/aws_form.css' %}">
{% endblock %}

{% block content %}
    {% include 'includes/sidenav.html' %}

    <div class="cloud_content">
        <h2 class="title-page">
            Deploy
        </h2>
        {% if status == 204 %}
            {% include 'includes/deployer_form.html' %}
        {% elif status == 200 %}
            {% for step, done in deploy_details.steps|items %}
                {% if done %}
                    <div class="alert alert-success" role="alert">
                        {{ step }} ✔
                    </div>
                {% elif expired %}
                    <div class="alert alert-danger" role="alert">
                        {{ step }} ✖
                    </div>
                {% else %}
                    <div class="alert alert-warning" role="alert" style="display: flex">
                        {{ step }}
                        <div class="loader"></div>
                    </div>
                {% endif %}
            {% endfor %}

            {% if deploy_details.url %}
                <div class="alert alert-success" role="alert">
                    Completed! Instance url: <a href="{{ deploy_details.url }}" target="_blank">{{ deploy_details.url }}</a>
                </div>
                <button class="btn btn-primary" id="deploy-delete-button">DEPLOY MORE</button>
            {% elif expired %}
                <div class="alert alert-danger" role="alert">
                    Deploy time expired or something went wrong. Please, try again!
                </div>
                <button class="btn btn-primary" id="deploy-delete-button">DEPLOY MORE</button>
            {% else %}
                 <div class="alert alert-warning" role="alert" style="display: flex">
                     Deploy in progress ...
                     <div class="loader"></div>
                 </div>
            {% endif %}

        {% else %}
            <h2 style="color: #dc3545; margin: 0">{{ status }}. {{ error_msg }}</h2>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'cloud/js/cookie.js' %}"></script>
    <script src="{% static 'cloud/js/deploy-delete.js' %}"></script>
    <script src="{% static 'cloud/js/deploy_page_refresh.js' %}"></script>
{% endblock %}