{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'cloud/css/auth.css' %}">
{% endblock %}


<div class="cloud_content">
    <h2 class="title-page">
        Account manager
    </h2>
    {% if status == 200 %}
        <div class="alert alert-success" role="alert">
            <h5>
                <b>AWS Access key id:</b> {{ creds.aws_access_key_id }}
            </h5>
            <h5>
                <b>AWS secret Access key:</b> {{ creds.aws_secret_access_key }}
            </h5>
        </div>
        <button class="btn btn-danger" id="delete-button">DELETE</button>
    {% elif status == 403 %}
        <div class="alert alert-info" role="alert">
            <h2 class="title-page">
                AWS Access key id: {{ creds.aws_access_key_id }}
            </h2>
            <h2 class="title-page">
                AWS secret Access key: {{ creds.aws_secret_access_key }}
            </h2>
        </div>
        <div class="error-message">
            {{ error }}
        </div>
        <button class="btn btn-danger" id="delete-button">DELETE</button>
    {% else %}
        <form method="post" class="auth-form">
            <h2 class="title-page">{% block title-page %}AWS Environment{% endblock %}</h2>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="error-message">
                <ul>{{ error }}</ul>
            </div>
            <button type="submit" class="send-form">{% block send-form %}NEW{% endblock %}</button>
        </form>
    {%  endif %}
</div>

{% block script %}
    <script src="{% static 'cloud/js/aws_creds_delete.js' %}"></script>
{% endblock %}