{% load rest_framework %}
{% load static %}

<div class="container">
<ul class="list-group">
<li class="list-group-item list-group-item-action list-group-item-secondary">
  Regional
<ul>
{% for region, regions_data in response.regional|items %}
<li class="list-group-item list-group-item-action list-group-item-text">
    {{ region }}
    <ul>
    {% for region_service in regions_data %}
        <li class="list-group-item list-group-item-action list-group-item-primary">
            {{ region_service.name }}
        <ul>
        {% for service_data in region_service.fields %}
            {% for resource_data in service_data.value %}
                <li class="list-group-item list-group-item-action list-group-item-text">
                    {{ resource_data.name }}
                <ul>
                {% for resource_field in resource_data.fields %}
                <li class="list-group-item list-group-item-action list-group-item-text">
                    {% if resource_field.type == 'items' %}
                        {{ resource_field.name }}:
                        <ul>
                        {% for sub_resource_field in resource_field.value %}
                            <li class="list-group-item list-group-item-action list-group-item-primary">
                                {{ sub_resource_field.name }}
                                <ul>
                                {% for sub_sub_resource_field in sub_resource_field.fields %}
                                    <li class="list-group-item list-group-item-action list-group-item-primary">
                                        {% if sub_sub_resource_field.type == 'items' %}
                                            {{ sub_sub_resource_field.name }}:
                                            <ul>
                                            {% for ec2_instance in sub_sub_resource_field.value %}
                                                <li class="list-group-item list-group-item-action list-group-item-text">
                                                    {{ ec2_instance.name }}:
                                                    <ul>
                                                    {% for ec2_field in ec2_instance.fields %}
                                                        <li class="list-group-item list-group-item-action list-group-item-text">
                                                            {{ ec2_field.name }}: {{ ec2_field.value }}

                                                        </li>
                                                    {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ sub_sub_resource_field.name }}: {{ sub_sub_resource_field.value }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                </ul>
                            </li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{ resource_field.name }}: {{ resource_field.value }}
                    {% endif %}
                </li>
                {% endfor %}
                </ul>
                </li>
            {% endfor %}
        {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>
</li>
</ul>
</div>


<div class="container">
<ul class="list-group">
<li class="list-group-item list-group-item-action list-group-item-secondary">
  Global
<ul>
{% for global_service in response.global %}
<li class="list-group-item list-group-item-action list-group-item-text">
    {{ global_service.name }}
    <ul>
    {% for global_field in global_service.fields %}
        {% for bucket in global_field.value %}
                <li class="list-group-item list-group-item-action list-group-item-primary">
                    {{ bucket.name }}
                <ul>
                {% for bucket_field in bucket.fields %}
                <li class="list-group-item list-group-item-action list-group-item-primary">
                    {% if bucket_field.type == 'items' %}
                        {{ bucket_field.name }}:
                        <ul>
                            {% for bucket_obj in bucket_field.value %}
                                <li class="list-group-item list-group-item-action list-group-item-text">
                                    {{ bucket_obj.name }}
                                    <ul>
                                        {% for bucket_obj_field in bucket_obj.fields %}
                                            <li class="list-group-item list-group-item-action list-group-item-text">
                                                {{ bucket_obj_field.name }}: {{ bucket_obj_field.value }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        {{ bucket_field.name }}: {{ bucket_field.value }}
                    {% endif %}
                </li>
                {% endfor %}
                </ul>
                </li>
            {% endfor %}
        {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
</li>
</ul>
</div>

