{% load static %}

<a href="/" class="logo"><img alt="<Icon not found>" src={% static 'cloud/favicon.svg' %}>  SMCloud</a>
<nav class="nav-menu">
    <ul class="menu-list">
        {% if user.is_anonymous %}
            <li><a href="{% url 'login' %}" class="menu-item">Sign in</a></li>
            <li><a href="{% url 'register' %}" class="menu-item">Sign up</a></li>
        {% else %}
            <li><a href="{% url 'logout' %}" class="menu-item" style="color: #dc3545; font-weight: bold">
                Sign out</a></li>
        {% endif %}
    </ul>
</nav>